body {
background-color: white;
font-family: 'Open Sans', serif;
font-weight: 400;
line-height: 1.45;
color: #333;
margin:0;
}

* {
box-sizing: border-box;
}

.container {
/*max-width: 1000px;*/
margin: 0 auto;
overflow: hidden;
}

h1 {
text-align: center;
font-weight: 500;
}

.main-content .container {
margin: 0 auto;
padding: 0 25px;
}

.slider {
height: 240px;
max-width: 760px;
margin: 0 auto;
border: 2px solid navy;
}

.site-title {
text-align: center;
font-size: 2em;
text-decoration: none;
display: block;
}

.menuButton {
	display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #E1E1E1;
    text-align: center;
    cursor:pointer;
    display: none;
}

.navbar {
margin: 25px auto;
clear: both;
max-width: 780px;
overflow: hidden;
box-shadow: inset 0px 0px 90px #8B8B8B;
border-radius: 4px;
font-size: 0;
}

.header-nav {
list-style: none;
margin: 0;
padding: 0;
}

.header-nav li {
display: inline-block;
width: 20%;
text-align: center;
}

.nav-link {
	text-decoration: none;
	color: #FAFAFA;
	padding: 4px;
	display: block;
	font-size: 16px;
	white-space: nowrap;
	transition: .4s;
	background: #2D77A9;
}

.nav-link:hover {
	background: #5899C5;
}

.slider {
height: 240px;
max-width: 760px;
margin: 0 auto;
border: 2px solid navy;
}

footer {
background: #2D77A9;
color: #FAFAFA;
text-align: center;
}

footer .container p{
	margin:15px;
}

.contactButton {
    display: inline-block;
    background: #FFF;
    border-radius: 4px;
    margin: 0px 15px 15px;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    width: 100px;
    height: 26px;
    line-height: 26px;
}

.contactButton:hover {
    background: #EDEDED;
}


/*Resume Page*/

.eventNodeContainer {
    background: #F9F9F9;
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.eventTitle {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
}

.nodeConnector {
    background: gray;
    opacity: .5;
    width: 7px;
    height: 40px;
    margin: 0 auto;
}




.secret{
	display:none;
}


/*Art Page*/
.artGallery {
height: auto;
margin: 15px auto;
overflow: hidden;
transition: .4s;
border-radius: 5px;
max-width: 100%;
text-align:center;
}

.artThumbContainer{
	display: inline-block;
	width: 200px;
	height: 175px;
	margin: 3px;
	position: relative;
	transition: .4s;
	box-shadow: 0 0 3px rgb(144, 144, 144);
}

.artThumbContainer:hover {
	box-shadow: 0 0 6px rgb(0, 0, 0);
	cursor: pointer;
}



.artThumbContainer {
  position: relative;
  overflow: hidden;
}
.artThumb{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  opacity: .85;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.artThumb:hover{
	opacity: 1;
}


.contentFade {
    position: fixed;
    background: black;
    opacity: .8;
    width: 100%;
    height: 100%;
    z-index: 5;
    display:none;
}

.fullImage{
    
    width: 100%;
    max-width: 95%;
    height: 90%;
    position: fixed;
    z-index: 6;
    margin: 0 auto;
    left: 2.5%;
    top: 5%;
    display: none;
    background: url("");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portrait {
  width: 100%;
  height: auto;
}



/*Contact*/

form {
    max-width: 500px;
    margin: 5px auto;
    padding: 10px;
}

input {
    max-width: 100%;
    width: 200px;
}

textarea {
    max-width: 100%;
    width: 400px;
}

.submitContact{
    display: block;
    width: 100px;
    margin: 10px 0;
}






@media(max-width: 500px){
	.menuButton{
		display:block;
	}
	header{
		box-shadow: 0px 0px 5px #ADADAD;
	}
	.navbar{
		box-shadow: none;
		margin:0 auto;
		display:none;
	}
	.header-nav li{
		display:block;
		width:100%;
		border: 1px solid rgb(129, 161, 179);
	}
}
@media(min-width: 500px){
	.navbar{
		display:block;
	}
}



@media(max-width:695px){
	.artGallery{
		font-size:0;
	}
	.artThumbContainer{
		margin: 1px;
		box-shadow: none;
	}
	.artThumbContainer:hover{
		box-shadow: none;
	}
	.main-content .container {
    	padding: 0;
	}
}
@media(max-width: 415px){
	.artThumbContainer {
	    width: 32%;
	    height: 105px;
  }
}


/*Utilities*/

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}