body {
background-color: white;
font-family: 'Open Sans', serif;
font-weight: 400;
line-height: 1.45;
color: #333;
margin:0;
}

* {
box-sizing: border-box;
}

.container {
max-width: 1000px;
margin: 0 auto;
overflow: hidden;
}

h1 {
text-align: center;
}

.main-content .container {
margin: 0 auto;
padding: 0 25px;
}

.slider {
height: 240px;
max-width: 760px;
margin: 0 auto;
border: 2px solid navy;
}

.site-title {
text-align: center;
font-size: 2em;
text-decoration: none;
display: block;
}

.hamburger {
display: none;
}

.navbar {
margin: 25px auto;
clear: both;
max-width: 780px;
overflow: hidden;
box-shadow: inset 0px 0px 90px #8B8B8B;
border-radius: 4px;
font-size: 0;
}

.header-nav {
list-style: none;
margin: 0;
padding: 0;
}

.header-nav li {
display: inline-block;
width: 20%;
text-align: center;
}

.header-nav li a {
text-decoration: none;
color: #FAFAFA;
padding: 4px;
display: block;
font-size: 16px;
white-space: nowrap;
transition: .4s;
}

.nav-link:hover {
background: #567991;
}

.slider {
height: 240px;
max-width: 760px;
margin: 0 auto;
border: 2px solid navy;
}

footer {
background: #567991;
color: #FAFAFA;
text-align: center;
}

footer .container p{
	margin:15px;
}

.contactButton {
display: inline-block;
background: rgb(186, 186, 186);
padding: 0px 14px;
border-radius: 4px;
margin: 15px;
margin-top: 0px;
text-decoration: none;
color: rgb(90, 90, 90);
}

.contactButton:hover {
box-shadow: rgb(139, 139, 139) 0px 0px 55px inset;
}

/*Art Page*/
.artGallery {
width: 100%;
max-width: 840px;
height: auto;
margin: 15px auto;
background: lightgray;
overflow: hidden;
transition: .4s;
}

.artProject {
display: block;
width: 200px;
height: 175px;
background: gray;
float: left;
margin: 5px;
position: relative;
transition: .4s;
}

img.artProjectThumb {
width: 100%;
height: 100%;
}

h2.artProjectTitle {
position: absolute;
bottom: 0;
padding: 0;
margin: 0;
text-align: center;
left: 75px;
}
@media(max-width: 907px){
	.artGallery{
		max-width:630px;
	}
}
@media(max-width: 697px){
	.artGallery{
		max-width:420px;
	}
}
@media(max-width:487px){
	.artGallery{
		max-width:316px;
	}
	.artProject{
		width:148px;
		height:135px;
	}
	.artProjectTitle{
		left: 52.5px !important;
	}
}
@media(max-width: 500px){
	.navbar{
		background: rgb(80, 131, 168);
		box-shadow: none;
	}
	.header-nav li{
		display:block;
		width:100%;
		border: 1px solid rgb(187, 187, 187);
	}
}

/*Utilities*/

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}