<footer role="contentinfo">
        <div class="container">
        	<p>{{ site.title }} &copy; {{ site.time | date: '%Y'}}</p>
        	<a href="/contact" class="contactButton">Contact</a>
		</div>
    </footer> <!-- / footer -->

    <audio class="secret" controls preload="none"> 
        <source src="/secret.mp3" type="audio/mpeg">
    </audio>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src='/js/jquery.sticky.js'></script>
    <script src='/js/script.js'></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>/-->
    <script src="/js/secret.js"></script>
    </body>
</html>
