<header class="site-header cf" role="banner">
    <div class="container">
        <a class="site-title" href="{{ site.url }}"><img src="/images/" alt="logo"></a>
        <img class="hamburger" src="/images/hamburger.png" alt="Menu Button">
        <nav class="navbar" role="navigation">
            <ul class="header-nav">
                <li><a class="nav-link" href="{{ site.url}}/One">One</a></li>
                <li><a class="nav-link" href="{{ site.url}}/Two">Two</a></li>
                <li><a class="nav-link" href="{{ site.url}}/Three">Three</a></li>
                <li><a class="nav-link" href="{{ site.url}}/Four/">Four</a></li>
                <li><a class="nav-link" href="{{ site.url}}/Five/">Five</a></li>
            </ul>
        </nav>
    </div>
</header>
