<header class="site-header cf" role="banner">
    <div class="container">
        <a class="site-title" href="http://rramsland.github.io">Rich Ramsland</a>
        <img class="hamburger" src="/images/hamburger.png" alt="Menu Button">
        
        <nav class="navbar" role="navigation">
            <ul class="header-nav">
                <li><a class="nav-link" href="/home.html">Home</a></li>
                <li><a class="nav-link" href="/resume.html">Resume</a></li>
                <li><a class="nav-link" href="/art.html">Art</a></li>
                <li><a class="nav-link" href="/webDesign.html">Web Design</a></li>
                <li><a class="nav-link" href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
