<div class="fadeBack"></div>
<header class="site-header cf" role="banner">
    <div class="container">
        <a class="site-title" href="http://rramsland.github.io">Rich Ramsland</a>
        <div class="fancyBar"></div>
       <div class="menuButton" alt="Menu Button">☰</div>
        
        <nav class="navbar" role="navigation">
            <ul class="header-nav">
                <li><a class="nav-link" href="#">Home</a></li>
                <li><a class="nav-link" href="#">Web Design</a></li>
                <li><a class="nav-link" href="#">Resume</a></li>
                <li><a class="nav-link" href="{{ site.url}}/art">Art</a></li>
                <li><a class="nav-link" href="{{ site.url}}/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
